@import 'mixins';


.content {
  color: black;
  font-size:3em;
  @media only screen and (max-width: 600px) {
    font-size:2em;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 0;
  width:100%;
}

.advice{
  width:100%;
  font-family: "Cheri Liney", serif;
  word-wrap: break-word;
  box-sizing: border-box;
  padding-left:50px;
  padding-right:50px;
}


.gif{
  width:80%;
  min-height:40vh;
  pointer-events: none;
  align-self: center;
}
