@import 'mixins';

.App-footer {
  @include header-footer;
  position:fixed;
  bottom:0;
  width:100%;
  font-family: 'Cheri Liney', serif;
  a{
    text-decoration: none;
    color:black
  }
  background-color: transparent;
  img{
    float:left;
  }
}
